<a href="https://colab.research.google.com/github/Regina-Arthur/Coding-Practice-Projects/blob/main/Pytorch_tutorial/Building_a_simple_binary_classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("cybersimar08/binary-classification-of-bank-churn-synthetic-data")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/cybersimar08/binary-classification-of-bank-churn-synthetic-data?dataset_version_number=1...

100%|██████████| 11.6M/11.6M [00:00<00:00, 108MB/s]

Extracting files...

Path to dataset files: /root/.cache/kagglehub/datasets/cybersimar08/binary-classification-of-bank-churn-synthetic-data/versions/1

In [2]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [5]:
# Replace the path with the output you received in Step 2
!cp -r "/root/.cache/kagglehub/datasets/cybersimar08/binary-classification-of-bank-churn-synthetic-data" "/content/drive/MyDrive/binary-classification-of-bank-churn-synthetic-data"

In [6]:
import pandas as pd

# Load dataset
df = pd.read_csv('/content/drive/MyDrive/binary-classification-of-bank-churn-synthetic-data/versions/1/Dataset.csv')

# Look at first few rows
print(df.head())

# Check structure
print(df.info())

# Check for missing values
print(df.isnull().sum())

# Class balance
print(df['Exited'].value_counts(normalize=True))

   Surname  CreditScore   Age  Tenure    Balance  NumOfProducts  HasCrCard  \
0     2023        668.0  33.0     3.0       0.00            2.0          1
1     2024        627.0  33.0     1.0       0.00            2.0          1
2     1236        678.0  40.0    10.0       0.00            2.0          1
3     1362        581.0  34.0     2.0  148882.54            1.0          1
4      491        716.0  33.0     5.0       0.00            2.0          1

   IsActiveMember  EstimatedSalary  Exited  ...  France  Germany  Spain  \
0               0        181449.97       0  ...       1        0      0
1               1         49503.50       0  ...       1        0      0
2               0        184866.69       0  ...       1        0      0
3               1         84560.88       0  ...       1        0      0
4               1         15068.83       0  ...       0        0      1

   Female  Male  Mem__no__Products  Cred_Bal_Sal   Bal_sal  Tenure_Age  \
0       0     1                0.0      0.000000  0.000000    0.090909
1       0     1                2.0      0.000000  0.000000    0.030303
2       0     1                0.0      0.000000  0.000000    0.250000
3       0     1                1.0   1022.940581  1.760655    0.058824
4       0     1                2.0      0.000000  0.000000    0.151515

   Age_Tenure_product
0                99.0
1                33.0
2               400.0
3                68.0
4               165.0

[5 rows x 25 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175028 entries, 0 to 175027
Data columns (total 25 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Surname             175028 non-null  int64
 1   CreditScore         175028 non-null  float64
 2   Age                 175028 non-null  float64
 3   Tenure              175028 non-null  float64
 4   Balance             175028 non-null  float64
 5   NumOfProducts       175028 non-null  float64
 6   HasCrCard           175028 non-null  int64
 7   IsActiveMember      175028 non-null  int64
 8   EstimatedSalary     175028 non-null  float64
 9   Exited              175028 non-null  int64
 10  Surname_tfidf_0     175028 non-null  float64
 11  Surname_tfidf_1     175028 non-null  float64
 12  Surname_tfidf_2     175028 non-null  float64
 13  Surname_tfidf_3     175028 non-null  float64
 14  Surname_tfidf_4     175028 non-null  float64
 15  France              175028 non-null  int64
 16  Germany             175028 non-null  int64
 17  Spain               175028 non-null  int64
 18  Female              175028 non-null  int64
 19  Male                175028 non-null  int64
 20  Mem__no__Products   175028 non-null  float64
 21  Cred_Bal_Sal        175028 non-null  float64
 22  Bal_sal             175028 non-null  float64
 23  Tenure_Age          175028 non-null  float64
 24  Age_Tenure_product  175028 non-null  float64
dtypes: float64(16), int64(9)
memory usage: 33.4 MB
None
Surname               0
CreditScore           0
Age                   0
Tenure                0
Balance               0
NumOfProducts         0
HasCrCard             0
IsActiveMember        0
EstimatedSalary       0
Exited                0
Surname_tfidf_0       0
Surname_tfidf_1       0
Surname_tfidf_2       0
Surname_tfidf_3       0
Surname_tfidf_4       0
France                0
Germany               0
Spain                 0
Female                0
Male                  0
Mem__no__Products     0
Cred_Bal_Sal          0
Bal_sal               0
Tenure_Age            0
Age_Tenure_product    0
dtype: int64
Exited
0    0.788851
1    0.211149
Name: proportion, dtype: float64